body {
  background-color: peachpuff;
}

.container {
display: block;
  margin: 80px auto;
  text-align: center;
  font-size: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 60vw;
  background-color: #a7a9cd;
  border-radius: 3%;
}

#startBtn {
  padding: 10px;
  background-color: peachpuff;
  border-width: 3px;
  border-radius: 5%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flexContainer {
  display: flex;
  justify-content:flex-end;
  font-size: x-large;
  font-weight: 500;
  
}

#question-title {
  text-align: left;
  padding-left: 3%;
}

#answer-list li {
  list-style-type: none;
  text-align: left;
  border: 1px solid black;
  border-width: 2px;
  padding: 3%;
  border-radius: 5%;
  background-color: peachpuff;
  width: 70%;
}

.initial-container {
  display: flex;
  justify-content: center;
}

#initials {
  width: 250px;
  color: #7377c6;
}

#submitBtn {
  margin: 10%;
  text-align: center;
  padding: 10px;
  background-color: peachpuff;
  border-width: 3px;
  border-radius: 5%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 
}

.hide {
  display: none;
}

#return, #view-high-scores {
  
  margin: 5%;
  padding: 10px;
  background-color: peachpuff;
  border-width: 3px;
  border-radius: 5%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

