.container {
display: block;
  margin: 80px auto;
  text-align: center;
  font-size: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 60vw;
  background-color: #a7a9cd;
}

.form label {
    display: block;
    margin-bottom: 10px; 
    text-align: left;

}

.flexContainer {
  display: flex;
  justify-content: space-between;
  font-size: x-large;
  font-weight: 500;
  
}

#answer-list li {
  list-style-type: none;
}
